<html>
	<head>
		<title>COVID-19 TESTING</title>
	</head>

	<body>
		<h1>COVID-19 TESTING USING X-RAY IMAGES</h1>
		<input id="image-selector" type="file"> 
		<button id="predict-button">Predict</button>
		<p>PREDICTION: <span id="result">...</span></p>
		<p>PROBABILITY: <span id="probability">...</span></p>
		<img id="selected-image" width="400" src=""/>

	</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    let base64Image; //sadece {} icerisinde kullanılabilecek degisken
    $("#image-selector").change(function() {
        let reader = new FileReader(); //dosya okuyucu olusturulur
        reader.onload = function(e) {
            let dataURL = reader.result; //readerdan gelen url alınır
            $('#selected-image').attr("src", dataURL);
            base64Image = dataURL.replace(/^data:image\/(png|jpg|jpeg);base64,/, ""); //alınan elemanı base64a ceviriyoruz
            console.log(base64Image);
        }
        reader.readAsDataURL($("#image-selector")[0].files[0]);
        $("#result").text(""); //result kısmı 
        $("#probability").text(""); //dogruluk olasılıgı

    });

    $("#predict-button").click(function(){
            let message = {
            image: base64Image //image backendde kullanacagımız key
        }
        console.log(message);
        $.post("/predict", JSON.stringify(message), function(response){ //image jsonlanır ve backende gonderilir
            $("#result").text(response.prediction.result);   //backendden gelen responsedaki result
            $("#probability").text(response.prediction.accuracy.toFixed(2)); //backenddeki olasılık
            console.log(response);
        });
    });
    
</script>

</html>